In [94]:
import pandas as pd

In [95]:
df = pd.read_csv('../data/feed-views.log', sep='\t', skiprows=[2, 3], skipfooter=2, engine='python', header=0, names=['datetime', 'user'], index_col='datetime')
df.head()

                              user
datetime
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana
2020-04-17 13:55:19.129243   artem

In [96]:
df.tail()

                                 user
datetime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

In [97]:
df.index.name = '../data/data_time'
df.to_csv('feed-views-semicolon.log', sep=';')

In [98]:
df2 = pd.read_csv('feed-views-semicolon.log')
df2.head(5)

              ../data/data_time;user
0   2020-04-17 12:01:23.743946;artem
1   2020-04-17 12:35:52.735016;artem
2  2020-04-17 12:36:21.401412;oksana
3  2020-04-17 12:36:22.023355;oksana
4   2020-04-17 13:55:19.129243;artem